In [1]:
# Import OHLCV data and perform basic data operations

In [2]:
import datetime as dt
import yfinance as yf
import pandas as pd

In [3]:
tickers = ["MSFT", "AMZN", "AAPL", "CSCO", "IBM", "FB"]

In [4]:
start = dt.datetime.today()-dt.timedelta(3650)
end = dt.datetime.today()
close_prices = pd.DataFrame() # empty dataframe which will be filled with closing prices of each stock

In [5]:
# looping over tickers and creating a dataframe with close prices
for ticker in tickers:
    close_prices[ticker] = yf.download(ticker,start,end)["Adj Close"]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [6]:
close_prices.mean() # prints mean stock price for each stock

MSFT     70.135023
AMZN    947.503936
AAPL     35.172290
CSCO     27.510416
IBM     130.290104
FB      124.974315
dtype: float64

In [7]:
close_prices.median() # prints median stock price for each stock

MSFT     47.626919
AMZN    603.169983
AAPL     26.401617
CSCO     23.960371
IBM     130.013199
FB      121.769997
dtype: float64

In [8]:
close_prices.std() # prints standard deviation of stock price for each stock

MSFT     54.367397
AMZN    836.345781
AAPL     25.884437
CSCO     12.016010
IBM      11.894334
FB       68.740323
dtype: float64

In [9]:
daily_return = close_prices.pct_change() # Creates dataframe with daily return for each stock

In [10]:
daily_return

                MSFT      AMZN      AAPL      CSCO       IBM        FB
Date
2011-01-25       NaN       NaN       NaN       NaN       NaN       NaN
2011-01-26  0.011599 -0.007414  0.007176 -0.005571 -0.002478       NaN
2011-01-27  0.003127  0.051656 -0.001861  0.000934  0.000186       NaN
2011-01-28 -0.038794 -0.072160 -0.020716 -0.023787 -0.011548       NaN
2011-01-31 -0.000721 -0.008765  0.009580  0.010511  0.017524       NaN
...              ...       ...       ...       ...       ...       ...
2021-01-14 -0.015346 -0.012136 -0.015127 -0.004630  0.016152 -0.023844
2021-01-15 -0.001737 -0.007425 -0.013731  0.006202 -0.004497  0.023286
2021-01-19  0.017823  0.005319  0.005427 -0.005283  0.004907  0.038749
2021-01-20  0.036500  0.045700  0.032856  0.003319  0.008216  0.024435
2021-01-21  0.002808  0.013363  0.036658 -0.005073  0.012069  0.020151

[2515 rows x 6 columns]

In [11]:
daily_return.mean() # prints mean daily return for each stock

MSFT    0.001046
AMZN    0.001364
AAPL    0.001183
CSCO    0.000551
IBM     0.000159
FB      0.001176
dtype: float64

In [12]:
daily_return.std() # prints standard deviation of daily returns for each stock

MSFT    0.016226
AMZN    0.019959
AAPL    0.017974
CSCO    0.016801
IBM     0.014352
FB      0.023577
dtype: float64