In [1]:
import pandas as pd 
from yahoofinancials import YahooFinancials
import datetime as dt

In [2]:
all_tickers = ["AAPL", "MSFT", "CSCO", "AMZN", "INTC"]

In [3]:
# extracting stock data (historical close price) for the stocks identified
close_prices = pd.DataFrame()
end_date = (dt.date.today()).strftime('%Y-%m-%d')
beg_date = (dt.date.today() - dt.timedelta(1825)).strftime('%Y-%m-%d')

for ticker in all_tickers:
    yahoo_financials = YahooFinancials(ticker)
    json_obj = yahoo_financials.get_historical_price_data(beg_date, end_date, "daily")
    ohlv = json_obj[ticker]['prices']
    temp = pd.DataFrame(ohlv)[["formatted_date", "adjclose"]]
    temp.set_index("formatted_date", inplace=True)
    temp.dropna(inplace=True) # check whether you really want to do this as it might be holidays as well.
    close_prices[ticker] = temp["adjclose"]

In [4]:
close_prices

                      AAPL        MSFT       CSCO         AMZN       INTC
formatted_date
2016-01-25       23.032082   47.260017  19.720545   596.530029  25.876822
2016-01-26       23.159468   47.606789  20.188663   601.250000  26.174057
2016-01-27       21.637739   46.739880  19.941837   583.349976  26.060406
2016-01-28       21.792925   47.506405  19.669481   635.349976  26.200283
2016-01-29       22.545681   50.271385  20.248245   587.000000  27.118210
...                    ...         ...        ...          ...        ...
2021-01-13      130.889999  216.339996  45.360001  3165.889893  56.950001
2021-01-14      128.910004  213.020004  45.150002  3127.469971  59.250000
2021-01-15      127.139999  212.649994  45.430000  3104.250000  57.580002
2021-01-19      127.830002  216.440002  45.189999  3120.760010  57.990002
2021-01-20      132.029999  224.339996  45.340000  3263.379883  58.669998

[1257 rows x 5 columns]

In [5]:
# extracting stock data (ohlcv) for the stocks identified
ohlv_dict = {}
end_date = (dt.date.today()).strftime('%Y-%m-%d')
beg_date = (dt.date.today()-dt.timedelta(1825)).strftime('%Y-%m-%d')
for ticker in all_tickers:
    yahoo_financials = YahooFinancials(ticker)
    json_obj = yahoo_financials.get_historical_price_data(beg_date,end_date,"daily")
    ohlv = json_obj[ticker]['prices']
    temp = pd.DataFrame(ohlv)[["formatted_date","adjclose","open","low","high","volume"]]
    temp.set_index("formatted_date",inplace=True)
    temp.dropna(inplace=True)
    ohlv_dict[ticker] = temp

In [6]:
ohlv_dict

{'AAPL':                   adjclose        open         low        high     volume
 formatted_date
 2016-01-25       23.032082   25.379999   24.802500   25.382500  207178000
 2016-01-26       23.159468   24.982500   24.517500   25.219999  300308000
 2016-01-27       21.637739   24.010000   23.334999   24.157499  533478800
 2016-01-28       21.792925   23.447500   23.097500   23.629999  222715200
 2016-01-29       22.545681   23.697500   23.587500   24.334999  257666000
 ...                    ...         ...         ...         ...        ...
 2021-01-13      130.889999  128.759995  128.490005  131.449997   88636800
 2021-01-14      128.910004  130.800003  128.759995  131.000000   90221800
 2021-01-15      127.139999  128.779999  127.000000  130.220001  111598500
 2021-01-19      127.830002  127.779999  126.940002  128.710007   90757300
 2021-01-20      132.029999  128.660004  128.550003  132.490005  103900700

 [1257 rows x 5 columns],
 'MSFT':                   adjclose        open         low        high    volume
 formatted_date
 2016-01-25       47.260017   51.939999   51.650002   52.650002  34707700
 2016-01-26       47.606789   51.790001   51.549999   52.439999  28900800
 2016-01-27       46.739880   52.009998   51.020000   52.200001  36775200
 2016-01-28       47.506405   51.860001   51.250000   52.209999  62513800
 2016-01-29       50.271385   54.730000   54.000000   55.090000  83611700
 ...                    ...         ...         ...         ...       ...
 2021-01-13      216.339996  214.020004  213.929993  216.759995  20087100
 2021-01-14      213.020004  215.910004  212.740005  217.460007  29480800
 2021-01-15      212.649994  213.520004  212.029999  214.509995  31746500
 2021-01-19      216.440002  213.750000  212.630005  216.979996  30480900
 2021-01-20      224.339996  217.699997  217.289993  225.789993  37751500

 [1257 rows x 5 columns],
 'CSCO':                  adjclose       open        low       high    volume
 formatted_date
 2016-01-25      19.720545  23.379999  23.139999  23.520000  64066100
 2016-01-26      20.188663  23.240000  23.240000  23.850000  25162200
 2016-01-27      19.941837  23.690001  23.299999  23.900000  24654000
 2016-01-28      19.669481  23.730000  22.980000  23.790001  31833500
 2016-01-29      20.248245  23.400000  23.200001  23.799999  39692600
 ...                   ...        ...        ...        ...       ...
 2021-01-13      45.360001  45.290001  45.180000  45.970001  19367300
 2021-01-14      45.150002  44.869999  44.849998  45.599998  22333500
 2021-01-15      45.430000  44.959999  44.880001  45.650002  30271700
 2021-01-19      45.189999  45.330002  44.770000  45.630001  28868800
 2021-01-20      45.340000  45.330002  45.139999  45.500000  16492300

 [1257 rows x 5 columns],
 'AMZN':                    adjclose         open          low         high    volume
 formatted_date
 2016-01-25       596.530029   597.989990   594.559998   608.500000   4396100
 2016-01-26       601.250000   603.450012   590.380005   604.500000   3765700
 2016-01-27       583.349976   601.989990   578.780029   603.390015   5152900
 2016-01-28       635.349976   608.369995   597.549988   638.059998  14015200
 2016-01-29       587.000000   571.979980   570.000000   593.000000  14677600
 ...                     ...          ...          ...          ...       ...
 2021-01-13      3165.889893  3128.439941  3122.080078  3189.949951   3321200
 2021-01-14      3127.469971  3167.520020  3120.590088  3178.000000   3070900
 2021-01-15      3104.250000  3123.020020  3095.169922  3142.550049   4244000
 2021-01-19      3120.760010  3107.000000  3096.000000  3145.000000   3305100
 2021-01-20      3263.379883  3181.989990  3175.000000  3279.800049   5299400

 [1257 rows x 5 columns],
 'INTC':                  adjclose       open        low       high     volume
 formatted_date
 2016-01-25      25.876822  29.990000  29.570000  30.219999   26441000
 2016-01-26      26.174057  29.610001  29.610001  30.049999   24754900
 2016-01-27      26.060406  29.879999  29.639999  30.219999   26384100
 2016-01-28      26.200283  30.020000  29.750000  30.180000   22028100
 2016-01-29      27.118210  30.209999  30.100000  31.030001   38311400
 ...                   ...        ...        ...        ...        ...
 2021-01-13      56.950001  59.500000  56.900002  60.250000  124070700
 2021-01-14      59.250000  58.450001  57.840000  60.139999   74680900
 2021-01-15      57.580002  58.849998  57.500000  59.650002   50265400
 2021-01-19      57.990002  57.939999  57.099998  58.340000   35647100
 2021-01-20      58.669998  58.240002  58.090000  59.220001   28669100

 [1257 rows x 5 columns]}