In [1]:
from alpha_vantage.timeseries import TimeSeries
import pandas as pd 
import time 
import configparser

In [2]:
# Loading keys from config parser
config = configparser.ConfigParser()
config.read_file(open('/home/venom/GitHub/cheatsheets/courses/Udemy/course11/secret.cfg'))

In [3]:
KEY = config.get('ALPHA_VANTAGE', 'KEY')

In [4]:
# extracting data for a single ticker

ts = TimeSeries(key=KEY, output_format='pandas')
data = ts.get_daily(symbol="EURUSD", outputsize="full")[0]
data.columns = ["open", "high", "low", "close", "volume"]
data = data.iloc[::-1]

In [5]:
data

              open    high     low   close  volume
date
2001-11-23  0.8776  0.8812  0.8733  0.8774     0.0
2001-11-26  0.8775  0.8830  0.8767  0.8804     0.0
2001-11-27  0.8804  0.8837  0.8765  0.8817     0.0
2001-11-28  0.8818  0.8877  0.8813  0.8876     0.0
2001-11-29  0.8876  0.8919  0.8854  0.8889     0.0
...            ...     ...     ...     ...     ...
2021-01-15  1.2154  1.2163  1.2072  1.2075     0.0
2021-01-18  1.2082  1.2087  1.2052  1.2074     0.0
2021-01-19  1.2074  1.2145  1.2072  1.2128     0.0
2021-01-20  1.2128  1.2158  1.2075  1.2104     0.0
2021-01-21  1.2115  1.2173  1.2107  1.2166     0.0

[5000 rows x 5 columns]

In [6]:
# extracting stock data (historical close price) for multiple stocks
all_tickers = ["AAPL","MSFT","CSCO","AMZN","GOOG",
               "FB","BA","MMM","XOM","NKE","INTC"]
close_prices = pd.DataFrame()
api_call_count = 1
ts = TimeSeries(key=KEY, output_format='pandas')
start_time = time.time()
for ticker in all_tickers:
    data = ts.get_intraday(symbol=ticker,interval='1min', outputsize='compact')[0]
    api_call_count+=1
    data.columns = ["open","high","low","close","volume"]
    data = data.iloc[::-1]
    close_prices[ticker] = data["close"]
    if api_call_count==5:
        api_call_count = 1
        time.sleep(60 - ((time.time() - start_time) % 60.0))

In [7]:
close_prices.head()

                       AAPL    MSFT  CSCO  AMZN  ...  MMM    XOM  NKE   INTC
date                                             ...
2021-01-20 18:20:00  132.35     NaN   NaN   NaN  ...  NaN    NaN  NaN  58.68
2021-01-20 18:21:00  132.35     NaN   NaN   NaN  ...  NaN    NaN  NaN  58.70
2021-01-20 18:22:00  132.36     NaN   NaN   NaN  ...  NaN    NaN  NaN  58.72
2021-01-20 18:23:00  132.36     NaN   NaN   NaN  ...  NaN    NaN  NaN  58.73
2021-01-20 18:24:00  132.34  224.42   NaN   NaN  ...  NaN  49.53  NaN  58.71

[5 rows x 11 columns]

In [8]:
close_prices

                       AAPL    MSFT   CSCO     AMZN  ...  MMM    XOM  NKE   INTC
date                                                 ...
2021-01-20 18:20:00  132.35     NaN    NaN      NaN  ...  NaN    NaN  NaN  58.68
2021-01-20 18:21:00  132.35     NaN    NaN      NaN  ...  NaN    NaN  NaN  58.70
2021-01-20 18:22:00  132.36     NaN    NaN      NaN  ...  NaN    NaN  NaN  58.72
2021-01-20 18:23:00  132.36     NaN    NaN      NaN  ...  NaN    NaN  NaN  58.73
2021-01-20 18:24:00  132.34  224.42    NaN      NaN  ...  NaN  49.53  NaN  58.71
...                     ...     ...    ...      ...  ...  ...    ...  ...    ...
2021-01-20 19:56:00  132.85  224.85  45.38      NaN  ...  NaN    NaN  NaN  58.96
2021-01-20 19:57:00  132.86  224.86  45.45  3269.00  ...  NaN    NaN  NaN  58.98
2021-01-20 19:58:00  132.94  225.00  45.50  3269.88  ...  NaN  49.58  NaN  58.99
2021-01-20 19:59:00  132.98  225.38  45.50  3274.97  ...  NaN    NaN  NaN  59.00
2021-01-20 20:00:00  133.00  225.48  45.69      NaN  ...  NaN  49.59  NaN  59.00

[100 rows x 11 columns]

In [10]:
# extracting ohlcv data for multiple stocks
all_tickers = ["AAPL","MSFT","CSCO","AMZN","GOOG",
               "FB","BA","MMM","XOM","NKE","INTC"]
ohlv_dict = {}
api_call_count = 1
ts = TimeSeries(key=KEY, output_format='pandas')
start_time = time.time()
for ticker in all_tickers:
    data = ts.get_intraday(symbol=ticker,interval='1min', outputsize='compact')[0]
    api_call_count+=1
    data.columns = ["open","high","low","close","volume"]
    data = data.iloc[::-1]
    ohlv_dict[ticker] = data
    if api_call_count==5:
        api_call_count = 1
        time.sleep(60 - ((time.time() - start_time) % 60.0))

In [11]:
ohlv_dict

{'AAPL':                        open    high     low   close   volume
 date
 2021-01-20 18:20:00  132.33  132.36  132.32  132.35  10065.0
 2021-01-20 18:21:00  132.35  132.37  132.35  132.35   7258.0
 2021-01-20 18:22:00  132.36  132.36  132.36  132.36    597.0
 2021-01-20 18:23:00  132.35  132.36  132.35  132.36  11574.0
 2021-01-20 18:24:00  132.36  132.36  132.34  132.34   1255.0
 ...                     ...     ...     ...     ...      ...
 2021-01-20 19:56:00  132.78  132.85  132.78  132.85  13015.0
 2021-01-20 19:57:00  132.85  132.86  132.80  132.86   6503.0
 2021-01-20 19:58:00  132.87  132.94  132.86  132.94  16747.0
 2021-01-20 19:59:00  132.95  132.98  132.90  132.98  11059.0
 2021-01-20 20:00:00  132.98  133.00  132.95  133.00  30106.0

 [100 rows x 5 columns],
 'MSFT':                          open     high       low   close  volume
 date
 2021-01-20 16:06:00  224.4300  224.600  224.4300  224.60  1972.0
 2021-01-20 16:07:00  224.3400  224.600  224.3400  224.60  6730.0
 2021-01-20 16:08:00  224.6000  224.600  224.5000  224.50  4223.0
 2021-01-20 16:09:00  224.4500  224.545  224.4500  224.54  1820.0
 2021-01-20 16:10:00  224.5300  224.530  224.5300  224.53   404.0
 ...                       ...      ...       ...     ...     ...
 2021-01-20 19:56:00  224.6500  224.850  224.6500  224.85  1518.0
 2021-01-20 19:57:00  224.8600  224.860  224.8600  224.86   695.0
 2021-01-20 19:58:00  224.8001  225.000  224.8001  225.00  2685.0
 2021-01-20 19:59:00  225.0000  225.380  225.0000  225.38   684.0
 2021-01-20 20:00:00  224.6600  225.480  224.6400  225.48  1427.0

 [100 rows x 5 columns],
 'CSCO':                        open   high      low    close   volume
 date
 2021-01-20 14:54:00  45.301  45.31  45.3000  45.3100  14915.0
 2021-01-20 14:55:00  45.310  45.31  45.3000  45.3027  13602.0
 2021-01-20 14:56:00  45.305  45.32  45.3000  45.3150  25790.0
 2021-01-20 14:57:00  45.305  45.31  45.3017  45.3059  27151.0
 2021-01-20 14:58:00  45.305  45.31  45.2818  45.2850  14646.0
 ...                     ...    ...      ...      ...      ...
 2021-01-20 19:56:00  45.380  45.38  45.3800  45.3800    505.0
 2021-01-20 19:57:00  45.390  45.45  45.3900  45.4500    500.0
 2021-01-20 19:58:00  45.470  45.50  45.4700  45.5000   1920.0
 2021-01-20 19:59:00  45.500  45.50  45.5000  45.5000    500.0
 2021-01-20 20:00:00  45.340  45.69  45.3400  45.6900    837.0

 [100 rows x 5 columns],
 'AMZN':                          open       high        low      close   volume
 date
 2021-01-20 14:54:00  3273.740  3273.7400  3271.1200  3271.7886   9368.0
 2021-01-20 14:55:00  3271.448  3272.6306  3271.2585  3271.2585   5355.0
 2021-01-20 14:56:00  3272.850  3275.6291  3272.7700  3273.7500  12383.0
 2021-01-20 14:57:00  3274.620  3274.7538  3273.6100  3274.3600   5297.0
 2021-01-20 14:58:00  3274.130  3274.7664  3272.4601  3273.8600   5004.0
 ...                       ...        ...        ...        ...      ...
 2021-01-20 19:32:00  3263.600  3263.6000  3263.6000  3263.6000    149.0
 2021-01-20 19:51:00  3265.600  3265.6000  3265.6000  3265.6000    211.0
 2021-01-20 19:57:00  3268.000  3269.0000  3268.0000  3269.0000    604.0
 2021-01-20 19:58:00  3269.880  3269.8800  3269.8800  3269.8800    662.0
 2021-01-20 19:59:00  3274.970  3274.9700  3274.9700  3274.9700    438.0

 [100 rows x 5 columns],
 'GOOG':                           open       high        low      close   volume
 date
 2021-01-20 14:34:00  1898.1450  1898.5350  1896.1573  1896.3400   6472.0
 2021-01-20 14:35:00  1896.3300  1896.8700  1896.3300  1896.4800   1632.0
 2021-01-20 14:36:00  1896.7370  1896.8000  1893.7000  1893.7000   4168.0
 2021-01-20 14:37:00  1894.4700  1897.0900  1894.4700  1896.6100   5563.0
 2021-01-20 14:38:00  1897.0600  1898.4600  1897.0600  1898.3350  18698.0
 ...                        ...        ...        ...        ...      ...
 2021-01-20 16:42:00  1887.4701  1887.4701  1887.4701  1887.4701    116.0
 2021-01-20 17:05:00  1888.0700  1888.0700  1887.4700  1887.4700    736.0
 2021-01-20 19:05:00  1900.0000  1900.0000  1900.0000  1900.0000    201.0
 2021-01-20 19:42:00  1894.8800  1894.8800  1894.8800  1894.8800    160.0
 2021-01-20 19:47:00  1894.8800  1894.8800  1894.8800  1894.8800    155.0

 [100 rows x 5 columns],
 'FB':                        open    high       low    close    volume
 date
 2021-01-20 15:54:00  267.92  268.14  267.9155  268.130   81255.0
 2021-01-20 15:55:00  268.14  268.16  267.8401  267.870   92139.0
 2021-01-20 15:56:00  267.91  268.27  267.6000  267.625  106343.0
 2021-01-20 15:57:00  267.59  267.68  267.3900  267.490  120396.0
 2021-01-20 15:58:00  267.51  267.55  267.2000  267.320  125685.0
 ...                     ...     ...       ...      ...       ...
 2021-01-20 19:55:00  268.00  268.00  268.0000  268.000     282.0
 2021-01-20 19:56:00  268.16  268.38  268.1600  268.380     946.0
 2021-01-20 19:58:00  268.40  268.50  268.4000  268.500    2112.0
 2021-01-20 19:59:00  268.55  268.55  268.5100  268.510     946.0
 2021-01-20 20:00:00  268.70  268.70  268.7000  268.700     608.0

 [100 rows x 5 columns],
 'BA':                        open    high     low   close   volume
 date
 2021-01-20 16:47:00  211.30  211.30  211.30  211.30    396.0
 2021-01-20 16:48:00  212.50  212.50  211.59  211.59  40744.0
 2021-01-20 16:51:00  211.30  211.30  211.30  211.30    350.0
 2021-01-20 16:53:00  211.24  211.24  211.21  211.21    851.0
 2021-01-20 16:55:00  211.20  211.20  211.20  211.20    959.0
 ...                     ...     ...     ...     ...      ...
 2021-01-20 19:56:00  212.20  212.20  212.20  212.20    270.0
 2021-01-20 19:57:00  212.06  212.06  212.06  212.06    426.0
 2021-01-20 19:58:00  212.10  212.10  212.10  212.10    427.0
 2021-01-20 19:59:00  212.20  212.25  212.20  212.25    444.0
 2021-01-20 20:00:00  212.20  212.20  212.20  212.20    382.0

 [100 rows x 5 columns],
 'MMM':                          open     high       low     close   volume
 date
 2021-01-20 14:28:00  169.8450  169.860  169.8100  169.8385   2866.0
 2021-01-20 14:29:00  169.8179  169.950  169.8179  169.9400   6016.0
 2021-01-20 14:30:00  169.9400  169.950  169.8950  169.9095   4026.0
 2021-01-20 14:31:00  169.9000  169.935  169.8700  169.9350   2693.0
 2021-01-20 14:32:00  169.9400  170.050  169.9400  170.0500   6578.0
 ...                       ...      ...       ...       ...      ...
 2021-01-20 16:03:00  170.2200  170.220  170.2200  170.2200  15179.0
 2021-01-20 16:04:00  170.2200  170.220  170.2200  170.2200  34059.0
 2021-01-20 16:15:00  170.1500  170.150  170.1500  170.1500    300.0
 2021-01-20 17:40:00  170.6200  170.640  170.6200  170.6400    591.0
 2021-01-20 18:06:00  170.0500  170.050  170.0500  170.0500    106.0

 [100 rows x 5 columns],
 'XOM':                        open   high     low    close   volume
 date
 2021-01-20 15:47:00  49.520  49.55  49.510  49.5490  40925.0
 2021-01-20 15:48:00  49.550  49.58  49.540  49.5650  74442.0
 2021-01-20 15:49:00  49.565  49.57  49.540  49.5550  57582.0
 2021-01-20 15:50:00  49.550  49.59  49.545  49.5556  59327.0
 2021-01-20 15:51:00  49.550  49.59  49.540  49.5888  89461.0
 ...                     ...    ...     ...      ...      ...
 2021-01-20 19:44:00  49.500  49.52  49.500  49.5200    950.0
 2021-01-20 19:50:00  49.510  49.51  49.510  49.5100    164.0
 2021-01-20 19:52:00  49.590  49.59  49.590  49.5900    100.0
 2021-01-20 19:58:00  49.580  49.58  49.580  49.5800    415.0
 2021-01-20 20:00:00  49.560  49.59  49.560  49.5900   4140.0

 [100 rows x 5 columns],
 'NKE':                          open      high       low     close   volume
 date
 2021-01-20 14:29:00  142.8700  142.9310  142.8500  142.9300   8743.0
 2021-01-20 14:30:00  142.9400  142.9900  142.9400  142.9700   5207.0
 2021-01-20 14:31:00  142.9700  142.9700  142.8800  142.9100  10853.0
 2021-01-20 14:32:00  142.9100  143.0600  142.9100  143.0500  31204.0
 2021-01-20 14:33:00  143.0600  143.0750  143.0400  143.0400   7858.0
 ...                       ...       ...       ...       ...      ...
 2021-01-20 16:04:00  142.8000  142.8000  142.8000  142.8000   4957.0
 2021-01-20 16:14:00  143.0300  143.0300  143.0300  143.0300    481.0
 2021-01-20 16:16:00  142.7786  142.7786  142.7786  142.7786   2790.0
 2021-01-20 17:24:00  143.0000  143.0000  143.0000  143.0000    120.0
 2021-01-20 17:50:00  142.7000  142.7000  142.7000  142.7000    117.0

 [100 rows x 5 columns],
 'INTC':                       open   high    low  close  volume
 date
 2021-01-20 16:49:00  58.76  58.76  58.76  58.76   315.0
 2021-01-20 16:51:00  58.83  58.83  58.83  58.83   238.0
 2021-01-20 16:54:00  58.82  58.82  58.82  58.82   122.0
 2021-01-20 16:57:00  58.80  58.80  58.80  58.80   260.0
 2021-01-20 16:58:00  58.80  58.80  58.80  58.80   205.0
 ...                    ...    ...    ...    ...     ...
 2021-01-20 19:56:00  58.95  58.96  58.95  58.96  1775.0
 2021-01-20 19:57:00  58.95  58.98  58.90  58.98  1020.0
 2021-01-20 19:58:00  58.90  58.99  58.87  58.99  2017.0
 2021-01-20 19:59:00  58.99  59.00  58.99  59.00   530.0
 2021-01-20 20:00:00  58.99  59.00  58.99  59.00  1166.0

 [100 rows x 5 columns]}