# Pandas data reader

In [3]:
import numpy as np
import pandas as pd 
import plotly.graph_objects as go
from datetime import date 
from pandas_datareader import data, wb

In [5]:
start_date = pd.to_datetime('2018-07-15')
end_date = pd.to_datetime(date.today())

In [7]:
start_date

Timestamp('2018-07-15 00:00:00')

In [8]:
end_date

Timestamp('2021-03-05 00:00:00')

## Yahoo Finance

In [9]:
data.DataReader("SPY", 'yahoo', start_date, end_date)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-07-16,279.799988,278.839996,279.640015,279.339996,48201000.0,266.354767
2018-07-17,280.910004,278.410004,278.470001,280.470001,52315500.0,267.432190
2018-07-18,281.179993,280.059998,280.559998,281.059998,44593500.0,267.994843
2018-07-19,280.739990,279.459991,280.309998,280.000000,61412100.0,266.984070
2018-07-20,280.480011,279.500000,279.769989,279.679993,82337700.0,266.678925
...,...,...,...,...,...,...
2021-03-01,390.920013,380.570007,385.589996,389.579987,104945700.0,389.579987
2021-03-02,390.070007,386.000000,389.820007,386.540009,79389200.0,386.540009
2021-03-03,386.829987,381.309998,385.790009,381.420013,119482700.0,381.420013
2021-03-04,384.000000,371.880005,381.220001,376.700012,182856500.0,376.700012
2021-03-05,380.589996,372.640015,380.459991,378.929993,79201836.0,378.929993

## Google Finance

In [10]:
data.DataReader("^DJI", 'stooq', start_date, end_date)

                Open      High       Low     Close     Volume
Date
2021-03-05  31029.18  31580.33  30766.81  31496.30  576808196
2021-03-04  31289.01  31461.97  30547.53  30924.14  642847875
2021-03-03  31352.96  31563.31  31260.14  31270.09  483599269
2021-03-02  31535.37  31623.27  31377.16  31391.52  392040399
2021-03-01  31065.90  31668.34  31065.90  31535.51  448282523
...              ...       ...       ...       ...        ...
2018-07-20  25041.14  25124.10  24986.35  25058.12  274084814
2018-07-19  25139.15  25154.17  25052.62  25064.50  285749714
2018-07-18  25133.79  25215.32  25101.12  25199.29  252926303
2018-07-17  25033.92  25155.39  24989.61  25119.89  250371741
2018-07-16  25025.58  25072.41  24979.64  25064.36  231261164

[665 rows x 5 columns]

In [20]:
import configparser

# Loading keys from config file
config = configparser.ConfigParser()
config.read_file(open('/home/venom/GitHub/cheatsheets/courses/Udemy/course12/notebooks/secret.cfg'))
alpha_key = config.get('ALPHA_VANTAGE', 'NOT_OURS_KEY')
quandl_key = config.get('QUANDL', 'KEY')

## AlphaVantage API

In [11]:
# Forex data

In [12]:
# GBP to USD

In [21]:
data.DataReader("GBP/USD", 'av-forex', start_date, end_date,api_key=alpha_key)  # This key is not ours

                                   GBP/USD
From_Currency Code                     GBP
From_Currency Name  British Pound Sterling
To_Currency Code                       USD
To_Currency Name      United States Dollar
Exchange Rate                   1.38310000
Last Refreshed         2021-03-06 21:48:02
Time Zone                              UTC
Bid Price                       1.38310000
Ask Price                       1.38310000

# Quandl

In [16]:
import numpy as np
import pandas as pd
import plotly.graph_objects as go

In [18]:
import quandl

In [22]:
# Contact with Quandl database 
quandl.ApiConfig.api_key = quandl_key

## Query data